<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href=""><img src="images/logo.svg" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href=""><img src="images/logo-mini.svg" alt="logo"/></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center" id="coin">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
            <li class="nav-item active">
                <a href="#" class="nav-link" id="btc-price" data='btc_usd' data-text='BTC'>My BTC: <%= sumBTC %></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="ltc-price" data='ltc_usd' data-text='LTC'>My USDT: <%= sumUSDT %></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" id="zec-price" data='zec_usd' data-text='ZEC'>BTC Available:<span class="value_coin" data-coin="BTC"><%= available %></span></a>
            </li>
        </ul>
    </div>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
    </button>
</nav>